################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/Fenton.WebLogImporter.csproj.user
/Properties/PublishProfiles/FolderProfile.pubxml.user
